name: Deployment pipeline

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Quality Gates
      - name: Run Code Formatting Tool
        run: | # If black finds issue, error & suggestion is printed
          black --check . || {
            echo "Formatting check failed. Run: black . then commit the changes."
            exit 1
            }

      - name: Run Linting Tools
        run: | # If flake8 finds issue, error & suggestion is printed
          flake8 --exclude=.git,__pycache__,venv || {
            echo "Linting Failed. Fix the reported file(s), then rerun CI."
            exit 1
          }

      - name: Test with pytest
        run: |
          mkdir -p junit
          pytest tests/test_app.py
            --doctest-modules \
            --junitxml=junit/test-results.xml \
            --cov=come
            --cov-report=xml \
            --cov-report=html \
            --cov-fail-under=80

      - name: Upload test & coverage artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-and-coverage
          path: |
            junit/test-results.xml
            coverage.xml
            htmlcov/

      - name: Build Docker image
        if: success()
        run: docker build -t flask_app .
